
body{
  background-image:linear-gradient(rgb(227, 160, 172),rgb(136, 185, 217));
}

  .form-group{
      display:flex;
      flex-direction: column;
      background-color: rgb(92, 209, 238);
      box-sizing: border-box;
      border-radius: 20px;
      border-style: solid;
      font-size: 1em;
      padding:20px;
      height: 50%;
      width:100%;
      overflow:auto;
  }
  #address{
    height:50%;
    width:20%;
  }
  #submit{
      height:auto;
      width:15%;
      align-self: center;
  }
  table,tr,td{
    border: 2px solid black;
  }
  .table{
    background-color: rgb(149, 233, 59);
  }
  #title{
  text-align: center;
  }

